.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}

.img_con img {
  max-width: fit-content;
  height: 200px;
  object-fit: contain;
}
